<!-- nav bar -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">NSS Logo</a>
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons searchBarLogo">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
<img src="http://i.imgur.com/xSU1P.jpg" alt="nashvilleSkyline" class="skyline" width="500">
<h1>Cohort 17</h1>

<div class="middleContainer container grey darken-4">
  <div class="row student-list">

    <div class="col xs6 l4 xl3">
      <div class="student-container">
        <div class="student-name-container">
          <h4 class="center-align student-name">Firstname Lastname</h4>
        </div>
        <div class="card student-card">
          <div class="card-image waves-effect">
            <img class="activator student-img" src="img/example-1.jpg">
          </div>
          <div class="card-reveal">
            <div class="card-title">
              <i class="material-icons right">close</i>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          </div>
        </div> <!-- end card -->
        <div class="icons-container">
          <a href="https://www.linkedin.com/">
            <img class="linked-in-icon left" src="img/linked-in-icon.png">
          </a>
          <a href="http://nickpettit.com/">
            <img class="website-icon" src="img/website-icon.png">
          </a>
          <a href="https://github.com/">
            <img class="github-icon right" src="img/github-icon.png">
          </a>
        </div>
      </div> <!-- end .student-container -->
    </div> <!-- end .col -->
  </div> <!-- end .row -->


  <div class="instructor-list">
    <h1 class="center-align">Instructors</h1>
    <div class="row">
      <div class="col xs6 l4 xl3">

        <div class="card instructor-card">
          <div class="instructor-name-container">
            <h4 class="center-align instructor-name">Instructor Name</h4>
          </div>
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-img instructor__image" src="http://i.imgur.com/ztCw44N.png">
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Instructor Name<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of instructor list -->


  <div class="technologies">
    <h1>Technologies!!</h1>
    <i class="large material-icons">insert_chart</i>
    <i class="large material-icons">insert_chart</i>
    <i class="large material-icons">insert_chart</i>
    <i class="large material-icons">insert_chart</i>
    <i class="large material-icons">insert_chart</i>
    <i class="large material-icons">insert_chart</i>
  </div>

  <div class="classPicture">
    <img src="http://i.imgur.com/rutNqqK.jpg">
  </div>

</div><!-- end of middleContainer -->
