
<div class="main-body" style="background-color: {{backgroundColor}};">
  <img class="background-img" src={{backgroundImg}}>
  <!-- <div class="row">  -->
    <div ng-class="{NSS_header_night: backgroundImg === '/img/c17_backdrop_night.png'}" class="NSS-header">
      <!-- <span>Nashville</span><img class="nss_logo" src="img/nss_logo.png" width="40" height="40"> <span>Software School</span> -->
      <img class="nss_logo" src="img/nss_logo_edit_thicker.png" width="40" height="40"><span>Nashville</span> <span>Software School</span>
      <!-- <img class="nss_logo"src="img/NSS-logo-horizontal-large.png"> -->
    </div>
    <div ng-class="{cohort_17_header_night: backgroundImg === '/img/c17_backdrop_night.png'}" class="cohort-17-header">
      <span>COHORT 17</span>
    </div>
  <!-- </div> -->

  <div class="student-list-div-wrapper">
    <div class="skyline skyline__container">
      <img src="assets/images/skyline.png" alt="nashville skyline">
    </div>
    <!-- <div class="gray"> -->
      <!-- <div class="middleContainer container grey darken-4"> -->

    <div class="gray">
      <div class="row search-container">
        <input ng-model="studentSearch" id="search" placeholder="Find Student" type="search" required>
      </div>
      <div class="row student-list">
        <div ng-repeat="student in students | filter: studentSearch" class="student-container">
          <div class="card">
            <div ng-if= "!student.sillyimg" class="card-image">
              <img class="activator" src="{{student.proimg}}">
            </div>
            <div ng-if= "student.sillyimg" ng-init="imgsrc= student.proimg" ng-mouseover="imgsrc= student.sillyimg" ng-mouseout="imgsrc= student.proimg" class="card-image">
              <img ng-if="student.sillyimg" class="activator" src="{{imgsrc}}">
            </div>
            <div class="card-content student-name-container">
              <span class="center-align student-name card-title">{{student.name}}</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p class="grey-text text-darken-4">Systema ablative boy shanty town fluidity systemic render-farm weathered bomb digital voodoo god meta. Grenade BASE jump bomb footage boy military-grade warehouse faded A.I. vehicle artisanal alcohol youtube long-chain hydrocarbons concrete. Euro-pop RAF katana decay concrete 8-bit savant alcohol film weathered hacker lights network drone crypto-kanji hotdog. Hacker film car silent marketing market urban carbon 8-bit motion dome-ware numinous nano-tattoo. Crypto-meta-boy receding face forwards-space physical hotdog 8-bit jeans fluidity bomb warehouse-ware stimulate. Tanto sub-orbital alcohol wonton soup neural augmented reality RAF weathered. Film carbon neural plastic narrative free-market footage industrial grade j-pop. Savant j-pop pistol-ware drone engine tanto man free-market. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
            </div>
          </div>
          <div class="icons-container">
            <a href="{{student.linkedin}}">
              <img class="linked-in-icon left" src="img/linkedin-icon-white.png">
            </a>
            <a href="{{student.portfolio}}">
              <img class="website-icon" src="img/website-icon-white.png">
            </a>
            <a href="{{student.github}}">
              <img class="github-icon right" src="img/github-icon-white.png">
            </a>
          </div>
        </div> <!-- end .student-container -->
      </div> <!-- end of student-list -->



      <h1 class="center-align instructor-header">Instructors</h1>
      <div class="row instructor-list">
        <div ng-repeat="instructor in instructors" class="instructor-container">
          <div class="card">
            <div class="card-content instructor-name-container">
              <span class="center-align instructor-name card-title">{{instructor.name}}</span>
            </div>
            <div class="card-image instructor-image-container valign-wrapper">
              <img class="activator instructor-image" src="{{instructor.image}}">
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{instructor.name}}<i class="material-icons right">close</i></span>
              <p class="grey-text text-darken-4">{{instructor.bio}}</p>
            </div>
            <div class="instructor-title-container">
              <h5 class="center-align instructor-name">{{instructor.title}}</h5>
              <p class="center-align instructor-subtitle">{{instructor.subtitle}}</p>
            </div>
          </div>
        </div> <!-- end .instructor-container -->
      </div> <!-- end of instructor-list -->






        <div class="technologies">
          <h1>Technologies</h1>
          <div id="tech" class='technologies--content'>
            <div class="tech-row row">
              <div class="tech-icon">
                <img class="tech-img" src="../img/technologies/Javascript.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="JavaScript" />
              </div>
              <div class="tech-icon">
                <img tooltips class="tech-img node" src="../img/technologies/Angular.png"  tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="AngularJS" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="../img/technologies/Bootstrap.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap" />
              </div>
              <div class="tech-icon">
                <img class="web tech-img" src="/img/technologies/HTML5.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="HTML5" />
              </div>
              <div class="tech-icon">
                <img class="web tech-img" src="../img/technologies/CSS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Firebase.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Firebase" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Git.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Git" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Github.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="GitHub" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Materialize.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Materialize" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Moqups.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="moqups" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Node.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Nodejs" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/NPM.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="npm" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Postgres.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="postgres" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Sass.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Sass" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="../img/technologies/DrawIO.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="DrawIO" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Trello.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Trello" />
              </div>
             <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/SQLite.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="SQLite" />
              </div>
             <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Pug.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Pug" />
              </div>
             <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Passport.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Passport" />
              </div>
             <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Mongo.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mongo" />
              </div>
             <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Mongoose.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mongoose" />
              </div>
             <div class="tech-icon">
                <img class="bs-knex tech-img" src="/img/technologies/KnexJS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="KnexJS" />
              </div>
             <div class="tech-icon">
                <img class="bs-knex tech-img" src="/img/technologies/BookshelfJS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="BookshelfJS" />
              </div>
             <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Chai.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Chai" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Mocha.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mocha" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Express.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Express" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Heroku.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Heroku" />
              </div>
              <div class="tech-icon">
                <img class="tech-img" src="/img/technologies/Bower.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bower" />
              </div>
            </div>
          </div>
        </div>
        <div class="center-align">
          <img class="center-align classPicture " src="assets/img/group1.jpg">
        </div>
      </div>
    </div> <!-- end gray -->
  </div> <!-- end .student-list -->
</div>
