<div id="tech" class='technologies--content container'>
    <div class="row">
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img tooltips class="tech-img node" src="../img/technologies/angular.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="AngularJS"/>
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/bootstrap.jpeg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap"/>
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/chaijs-mocha.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mocha / Chai" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/css3.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/drawio.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="DrawIO" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/express.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Express" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/firbase.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Firebase" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/git_logo.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Git" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="../img/technologies/github.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="GitHub" />
      </div>
      //start with grunt HERE
