/*********************
 ** Student Cards
 *********************/

.student-container {
	max-width: 300px;
  padding: 10px;
}

.student-name-container {
  background-color: white;
  padding: 10px;
}

.student-name {
  width: 100%;
  color: orange;
  margin-bottom: 5px;
}

.icons-container {
  height: 75px;
  display: flex;
  justify-content: space-around;
}

.icons-container img {
  min-width: 35px;
  min-height: 35px;
  max-width: 50px;
  max-height: 50px;
}

.background-img {
	position: absolute;
	width: 100%;
}
.tech-img {

  height: 50px;


}

/*********************
 ** Boilerplate styles
 *********************/

/*.mainContainer {
  position: absolute;
  z-index: -2;
}

.searchBarLogo {
  padding-left: 5em;
}

.skyImage {
  position: absolute;
  z-index: -1;

}

.skyline {
  display: inline;
  position: relative;
  z-index: 1;
}
*/
