/*********************
 ** Student Cards
 *********************/

/* Max width for student cards so they don't get huge on big screens */
.student-container {
	max-width: 300px;
}

/* Make the image a clickable thing even after
removing materialize waves effects */
.card-image {
  cursor: pointer;
}

.student-name-container {
  padding: 18px !important;
}

/* Adjust to better orange color if needed */
/* Override materialize margins */
.student-name {
  color: orange;
  margin-bottom: 0px !important;
}

.bio-container {
  opacity: 0.8;
}

/* Make three equally-spaced icons under students */
.icons-container {
  height: 75px;
  display: flex;
  justify-content: space-around;
}

/* max width / height for icons below student cards */
.icons-container img {
  max-width: 35px;
  max-height: 35px;
}

/*********************
 ** Boilerplate styles
 *********************/

/*.mainContainer {
  position: absolute;
  z-index: -2;
}

.searchBarLogo {
  padding-left: 5em;
}

.skyImage {
  position: absolute;
  z-index: -1;

}

.skyline {
  display: inline;
  position: relative;
  z-index: 1;
}
*/
